<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Энциклопедия Devman.</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <div class="jumbotron">

      <div class="container">

        <h1 class="display-3"><a href="/">Энциклопедия Devman</a></h1>
        <p>Знания, необходимые для старта. Коротко. Ясно. В сжатом виде.</p>
      </div>
    </div>

    <div class="container">

          {% block content %}{% endblock %}

      <hr>
      {% block footer %}
      <footer>
        <p>&copy; Сделано в 2017 в рамках <a href="https://devman.org/">Devman.org</a></p>
      </footer>
      {% endblock %}
    </div> <!-- /container -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}


  </body>
</html>